@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Lato';
  background: #0f0f0f;
  position: static;
  display: flex;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#particles-js, #parallax, .layer {
  height: 100%;
  position: absolute;
  width: 100%;
}

#particles-js {
  opacity: .6;
}


.container {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

/* 404 */
.notFound {
    justify-content: center;
    display: inline-block;
    color: #fff;
    opacity: 80%;
    font-size: 90px;
    letter-spacing: 0.25em;
    position: relative;
    left: 0;
    top: 120px;
}

/* Where are you? */
#glitch {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15%;
    font-weight: 100;
    font-size: 22px;
    color: #FAFAFA;
    letter-spacing: 0.25em !important;
}
#glitch > .text > .dud {
    color: rgb(255, 0, 130);
}


/* Let's go Home <3 */
.homeBtn {
    display: inline-block;
    font-size: 1em;
    padding: 11px 21px;
    letter-spacing: 0.3em;
    margin-top: 50px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(28, 226, 226, 0.5);
    color: #fff;
    opacity: 90%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in-out .4s, box-shadow ease-in-out .4s, background-color ease-in-out .4s;
    box-shadow: 0 2px 25px rgba(28, 226, 226, 0.5);
}
.homeBtn:hover {
    background-color: rgba(255, 0, 130, 0.5);
    transition: transform ease-in-out .4s, box-shadow ease-in-out .4s, background-color ease-in-out .4s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    opacity: 90%;
}
