*{
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
}

body {
  margin: auto;
  max-width: 100%;
  font-family: 'Lato';
  background: #0f0f0f;
  position: static; /*  absolute */
  display: flex;
  height: 100vh;
  /* min-height: 100%; */
  /* min-width: 100%; */
  width: 100%;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

#particles-js, #parallax, .layer {
  height: 100%;
  position: absolute;
  width: 100%;
}

#particles-js {
  opacity: .6;
}

@keyframes rotate {
  0% { transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg); }
  100% { transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg); }
}


/* @media (min-width:600px) {
  .layer[data-depth] {
    content: attr(data-depth) "3.0";
  }
} */