
/* h3 {
    max-width: 300;
} */
/* h3[data-scroll='in'] [data-char]:after {
    animation-name: glitch-switch;
}
.reveal--0 [data-char]:after {
    animation-iteration-count: calc(var(--char-index) * 0.45);
}
.reveal--1 [data-char]:after {
    animation-iteration-count: 4;
}
.reveal--2 [data-char]:after {
    animation-iteration-count: var(--count);
}
h3:nth-of-type(1) {
    position: absolute;
    opacity: 0;
}
.word {
    position: relative;
    display: inline-block;
}
[data-char] {
    color: transparent;
    position: relative;
}
[data-char]:after {
    --txt: attr(data-char);
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function: steps(1);
    animation-fill-mode: backwards;
    content: var(--txt);
    color: #ff0080;
    position: absolute;
    left: 0;
    top: 0;
}
 
.profession {
    margin: auto;
    display: flex;
    height: 38vh;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    opacity: 83%;
}
.ctr{
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    opacity: 83%;
}

@-moz-keyframes glitch-switch {
0% {
    content: var(--char-0);
}
10% {
    content: var(--char-1);
}
20% {
    content: var(--char-2);
}
30% {
    content: var(--char-3);
}
40% {
    content: var(--char-4);
}
50% {
    content: var(--char-5);
}
60% {
    content: var(--char-6);
}
70% {
    content: var(--char-7);
}
80% {
    content: var(--char-8);
}
90% {
    content: var(--char-9);
}
100% {
    content: var(--char-0);
}
}
@-webkit-keyframes glitch-switch {
0% {
    content: var(--char-0);
}
10% {
    content: var(--char-1);
}
20% {
    content: var(--char-2);
}
30% {
    content: var(--char-3);
}
40% {
    content: var(--char-4);
}
50% {
    content: var(--char-5);
}
60% {
    content: var(--char-6);
}
70% {
    content: var(--char-7);
}
80% {
    content: var(--char-8);
}
90% {
    content: var(--char-9);
}
100% {
    content: var(--char-0);
}
}
@-o-keyframes glitch-switch {
0% {
    content: var(--char-0);
}
10% {
    content: var(--char-1);
}
20% {
    content: var(--char-2);
}
30% {
    content: var(--char-3);
}
40% {
    content: var(--char-4);
}
50% {
    content: var(--char-5);
}
60% {
    content: var(--char-6);
}
70% {
    content: var(--char-7);
}
80% {
    content: var(--char-8);
}
90% {
    content: var(--char-9);
}
100% {
    content: var(--char-0);
}
}
@keyframes glitch-switch {
0% {
    content: var(--char-0);
}
10% {
    content: var(--char-1);
}
20% {
    content: var(--char-2);
}
30% {
    content: var(--char-3);
}
40% {
    content: var(--char-4);
}
50% {
    content: var(--char-5);
}
60% {
    content: var(--char-6);
}
70% {
    content: var(--char-7);
}
80% {
    content: var(--char-8);
}
90% {
    content: var(--char-9);
}
100% {
    content: var(--char-0);
}
} */

