@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background: #0f0f0f;
    height: 100vh;
    width: 100%;
    user-select: none;
}


/* background particles */
#particles-js, #parallax, .layer {
    height: 100%;
    position: absolute;
    width: 100%;
}
#particles-js {
    opacity: .6;
}  


/* About Section */
.aboutSect {
    display: inline-block;
    width: 100%;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}


/* Name */
.name h1 {
    color: #fff;
    text-align: center;
    font-size: 64px;
    opacity: 90%;
    font-weight: 300;
    letter-spacing: .2em;
}


/* glitch like effect */
#glitch {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
    position: absolute;
    opacity: 70% !important;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #FAFAFA;
    font-weight: 300;
}
#glitch > .text > .dud {
    color: rgb(255, 0, 130);
    opacity: 70%;
}


.about p {
    margin-top: 130px;
    padding-inline: 15px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    opacity: 90%;
    font-weight: 300;
    letter-spacing: .2em;
}

.skills h4 {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    opacity: 80%;
    font-weight: 300;
    letter-spacing: .2em;
}


.skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 200px));
    gap: 0px 10px;
    justify-content: center;

    
    overflow: hidden;
    margin-top: 35px;
    list-style-type: none;
    color: #fff;
    /* text-align: center; */
    font-size: 14px;
    opacity: 80%;
    font-weight: 300;
    letter-spacing: .2em;
}
.skills ul li {
    position: relative;
    padding: 10px;
}


.skills ul li::before {
    margin-left: 25%;
    content: "\25B9";
    padding-right: 8px;
    color: cyan;
}