@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);


.name h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    word-wrap: inherit;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    opacity: 90%;
    font-weight: 300;
    letter-spacing: .2em;
    top: 22%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

 
.about {
    display: block;
    position: absolute;
    width: 50%;
    top: 55%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.title {
    opacity: 80%;
    font-size: 27px;
    letter-spacing: .08em;
}
.title .firstPart {
    color: #9fcddb;
    letter-spacing: -0.01em;
}
.title .secondPart {
    color: #fff;
}
.title .thirdPart {
    color: #ff0080;
}

.about p {
    margin-inline: 5%;
    color: #fff;
    opacity: 65%;
    font-size: 17px;
    letter-spacing: .05em;
}

.projects {
    display: flex;
    position: absolute;
    width: 50%;
    top: 80%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
