$main-ff: "Poppins", sans-serif;
$bg-img: url("../../../assets/noise.jpg");
$bg-color: #121212;
$main-font-color: #e2e8f0;
$accent-color: #2a5a58b2;

@keyframes fade-in {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::selection {
	color: $bg-color;
	background: $main-font-color;
}

body {
	background: $bg-color $bg-img fixed;
	font-family: $main-ff;
	cursor: default;
	word-break: keep-all;
	margin: 0 auto;
	max-width: 80%;
	animation: fade-in 0.3s ease-out forwards;
}

main {
	color: $main-font-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 2rem;

	h1 {
		margin: 0;
		font-size: 6rem;
		letter-spacing: 0.05em;
		font-weight: 600;
	}

	.glitch {
		font-size: 0.9rem;
		text-align: center;
		font-weight: 300;
		letter-spacing: 0.15em;

		.text {
			display: inline-block;

			& > .char {
				display: inline-block;
				color: $accent-color;
			}
		}
	}

	.btn {
		padding: 10px 20px;
		border: unset;
		border-radius: 15px;
		color: $main-font-color;
		z-index: 1;
		background: #212121;
		cursor: pointer;
		position: relative;
		font-weight: 900;
		box-shadow: 4px 8px 19px -3px #00000045;
		transition: all 250ms;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			border-radius: 15px;
			background-color: $main-font-color;
			z-index: -1;
			box-shadow: 4px 8px 19px -3px #00000045;
			transition: all 250ms;
		}

		&:hover {
			color: #212121;

			&::before {
				width: 100%;
			}
		}
	}
}
