$color_white_1: #fff;
$color_white_2: #FAFAFA;
$color_dark_pink: #FF0082;
$color_inherit: inherit;
$color_white_4: #e9f3f1;
$color_white_5: #eee;
$color_grey: #aaa;
$color_yellow: #f1e05a;
$color_dark_purple: #563d7c;
$color_pink: #d461b7;
$color_light_purple: #9b7c9e;
$color_cyan: #04e2ff;
$color_orange: #b07219;
$color_lime: #89e051;
$color_lighter_purple: #999fff;
$color_red: #cf3e3e;
$color_dark_redpink: #9e5d5d;
$color_cyan_2: #64ffdba2;
$font-family_main: 'Lato';
$font-family_mono: monospace;
$font-family_fa: FontAwesome;
$background-color_brown: #181717;
$background-color_trans: transparent;
$background-color_cyan: #64ffda;
$background-color_dark_blue: #0a192f;
$background-color_darker_cyan: #64ffdb42;
$background-color_dark_cyan: #1ce2e280;
$background-color_pink: #ff008280;
