@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

::selection {
  color: #121212;
  background: #e2e8f0;
}

body {
  background: #121212;
  font-family: "Poppins", sans-serif;
  cursor: default;
  word-break: keep-all;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  animation: fade-in 0.3s ease-out forwards;
}

header {
  color: #e2e8f0;
  height: 100vh;
  flex: 1 1 50%;
  top: 0;
  position: sticky;
  align-self: flex-start;
}
header h1 {
  margin-top: 5rem;
  font-size: 3rem;
  letter-spacing: 0.01em;
  font-weight: 600;
}
header .glitch {
  letter-spacing: 0.15em;
  font-weight: 300;
  margin-top: -1.25rem;
}
header .glitch::before {
  content: ">";
  margin-right: 4px;
}
header .glitch .text {
  display: inline-block;
}
header .glitch > .text > .dud {
  color: #ff0082;
}
header p {
  font-size: 0.95rem;
  margin-top: 1.5rem;
  opacity: 90%;
  max-width: 90%;
}
header nav {
  margin-top: 3.6rem;
}
header nav ul {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
header nav ul li {
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  position: relative;
}
header nav ul li .nav-el {
  color: #e2e8f0;
  padding-left: 3rem;
  opacity: 70%;
  transition: 0.3s ease;
}
header nav ul li .nav-el:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2rem;
  height: 2px;
  background-color: #e2e8f0;
  opacity: 70%;
  transition: 0.3s ease;
}
header nav ul li .nav-el:hover {
  opacity: 100%;
  padding-left: 4rem;
  transition: 0.3s ease;
}
header nav ul li .nav-el:hover:before {
  width: 3rem;
  transition: 0.3s ease;
}
header nav ul li .active-nav-el {
  opacity: 85%;
  padding-left: 4rem;
  transition: 0.3s ease;
}
header nav ul li .active-nav-el:before {
  width: 3rem;
  transition: 0.3s ease;
}
header .contact {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  align-items: center;
}
header .contact li {
  padding: 0;
  display: inline-block;
}
header .contact li a {
  color: #e2e8f0;
  margin-right: 1.2rem;
  opacity: 70%;
  transition: opacity 0.3s ease;
}
header .contact li a:hover {
  opacity: 100%;
  transition: opacity 0.3s ease;
}
header .contact li a img {
  color: #000;
  filter: invert(1);
  vertical-align: middle;
  height: 1.2rem;
}
header .contact .resume-btn {
  margin-left: 5px;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #e2e8f0;
  z-index: 1;
  background: #212121;
  cursor: pointer;
  position: relative;
  font-weight: 1000;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}
header .contact .resume-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #e2e8f0;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
header .contact .resume-btn:hover {
  color: #212121;
}
header .contact .resume-btn:hover::before {
  width: 100%;
}

main {
  color: #e2e8f0;
  height: 100%;
  flex: 1 1 50%;
}
main .headers {
  text-transform: uppercase;
}
main .about-section {
  margin-top: 5rem;
}
main .skills-section {
  margin-top: 1.8rem;
}
main .skills-section .skills-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .skills-section .skills-list li {
  display: inline-block;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
}
main .skills-section .skills-list li img {
  color: #000;
  filter: invert(1);
  vertical-align: middle;
  height: 1.9rem;
  border-radius: 15%;
  opacity: 80%;
}

@media screen and (max-width: 1050px) {
  body {
    width: 85%;
  }
  header {
    flex: 1 1 100%;
    position: initial;
    height: 100%;
  }
  header h1 {
    margin-top: 3.8rem;
  }
  header P {
    max-width: 100%;
  }
  header nav {
    display: none;
  }
  header .contact {
    position: relative;
    margin-top: 3.6rem;
  }
  main .about-section {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1051px) {
  .headers {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  header h1 {
    font-size: 2.5rem;
  }
  header .glitch {
    margin-top: -0.6rem;
  }
}
* {
  outline-width: 1px;
  outline-color: rgba(255, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
