@import "https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic";
@keyframes fadeinout {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Lato";
  background: #121212;
  height: 100vh;
  width: 100%;
  user-select: none;
  scroll-behavior: smooth;
}

#particles-js {
  padding: 40px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

#parallax {
  padding: 40px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.layer {
  padding: 40px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.aboutSect {
  display: inline-block;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}

.name h1 {
  color: #fff;
  text-align: center;
  font-size: 64px;
  opacity: 90%;
  font-weight: 300;
  letter-spacing: 0.2em;
}

#glitch {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
  position: absolute;
  opacity: 70% !important;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #FAFAFA;
  font-weight: 300;
}
#glitch > .text > .dud {
  color: #FF0082;
  opacity: 70%;
}

.about p {
  line-height: 21px;
  margin-top: 130px;
  padding-inline: 15px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  opacity: 60%;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.about .down {
  text-align: center;
  margin-top: 80px;
  transition: 0.6s all ease;
}
.about .down:hover {
  opacity: 40%;
}
.about .down a {
  font-size: 14px;
  letter-spacing: 0.15em;
  position: relative;
  opacity: 60%;
  color: #fff;
  text-decoration: none;
}
.about .down a span {
  top: 30px;
  position: absolute;
  left: 50%;
  padding-top: 15px;
  margin-left: -12px;
  width: 22px;
  height: 22px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: fadeinout 5s linear infinite;
}
.about .down a span:hover {
  animation-play-state: paused;
}

.projectsSect {
  padding-top: 90px;
  margin-top: 180px;
}
.projectsSect h3 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  opacity: 90%;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 100px;
}
.projectsSect a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}
.projectsSect ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.projectsSect img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.project-container {
  max-width: 1000px;
  margin: 50px auto;
}

.project {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}

.project-content {
  position: relative;
  grid-column: 1/7;
  grid-row: 1/-1;
}
.project-content .project-title {
  font-size: 28px;
  margin: 10px 0 30px;
  color: #e9f3f1;
  opacity: 95%;
}
.project-content .project-details {
  font-size: 15px;
  line-height: 1.5;
  color: #eee;
  opacity: 95%;
}
.project-content .project-details p {
  background-color: #181717;
  padding: 20px 25px;
  border-radius: 3px;
  opacity: 90%;
}
.project-content .project-details ul {
  display: flex;
  margin-top: 20px;
}
.project-content .project-details ul li {
  margin-right: 20px;
  color: #aaa;
  font-family: monospace;
}
.project-content .project-details ul li > * {
  transition: 0.3s all ease;
}
.project-content .project-details ul li > *:hover {
  opacity: 60%;
}
.project-content .project-details ul li .sourceCode::before {
  content: "\f09b";
  font-family: FontAwesome;
  font-size: 15px;
  margin-right: 8px;
}
.project-content .project-details ul li .viewProject::before {
  content: "\f08e";
  font-family: FontAwesome;
  font-size: 13px;
  margin-right: 8px;
}

.project-img {
  position: relative;
  z-index: -1;
  background-color: #64ffda;
  background: linear-gradient(0.45turn, #64ffda, #ff64e5);
  border-radius: 5px;
  grid-column: 6/-1;
  grid-row: 1/-1;
}
.project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #0a192f;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}

.ProjectsCardSect {
  margin-top: 90px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.ProjectsCardSect > * {
  flex-grow: 1;
  flex-basis: calc((600px - 100%) * 999);
  min-width: 280px;
  max-width: 330px;
}

.projectCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #252525;
  opacity: 90%;
  border-radius: 0.45em;
  box-shadow: 3px 2px 14px rgba(38, 38, 49, 0.2);
  overflow: hidden;
}

.card-content {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-content a::before {
  content: "\f09b";
  font-family: FontAwesome;
  font-size: 18px;
  margin-right: 8px;
}

.card-title {
  color: #e9f3f1;
  opacity: 80%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-details {
  color: #eee;
  opacity: 80%;
  font-size: 15px;
  font-style: 0.1rem;
  margin-bottom: 1em;
}

.card-prjLink {
  position: relative;
  margin-bottom: 0.5em;
  text-decoration: none;
  padding: 0.45em 1.05em;
  border-radius: 0.45em;
  background: linear-gradient(0.45turn, #999fff, 50%, plum);
  opacity: 80%;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 0.5em 1.2em rgba(0, 0, 0, 0.2666666667);
  transition: 0.3s all ease;
}
.card-prjLink:hover {
  opacity: 60%;
}

.lang-JS {
  color: #f1e05a;
}

.lang-CSS {
  color: #563d7c;
}

.algo {
  color: #d461b7;
}

.lang-brainfk {
  color: #9b7c9e;
}

.lang-brainfkOP {
  color: #04e2ff;
}

.lang-java {
  color: #b07219;
}

.lang-shell {
  color: #89e051;
}

.lang-shellTer {
  color: #999fff;
}

.lang-MarkDark {
  color: #cf3e3e;
}

.lang-MarkLight {
  color: #9e5d5d;
}

.contactSect {
  margin-top: 200px;
  margin-bottom: 200px;
}

.contact {
  justify-content: center;
  text-align: center;
}
.contact h4 {
  font-size: 50px;
  color: #fff;
  opacity: 90%;
  font-weight: 300;
  letter-spacing: 4px;
}
.contact p {
  margin: 40px 20px 60px 20px;
  color: #fff;
  font-size: 14px;
  opacity: 60%;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.contact a {
  text-decoration: none;
  margin-bottom: 30px;
}
.contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}
.contact ul li {
  margin-right: 20px;
  font-family: monospace;
}
.contact .email-cv {
  margin-bottom: 45px;
  margin-left: 20px;
}
.contact .email-cv a {
  font-size: 16px;
  color: #fff;
  opacity: 70%;
  padding: 8px;
  border: #64ffda 1px solid;
  padding-inline: 18px;
  border-radius: 4px;
  transition: 0.3s all ease;
}
.contact .email-cv a:hover {
  background-color: rgba(100, 255, 219, 0.2588235294);
}
.contact .soical {
  margin-left: 15px;
}
.contact .soical i {
  font-size: 20px;
  color: #fff;
  opacity: 60%;
  transition: 0.3s all ease;
}
.contact .soical i:hover {
  color: rgba(100, 255, 219, 0.6352941176);
  opacity: 40%;
}

footer .up {
  text-align: center;
  bottom: 140px;
  transition: 0.6s all ease;
}
footer .up:hover {
  opacity: 40%;
}
footer .up a {
  font-size: 14px;
  letter-spacing: 0.15em;
  position: relative;
  opacity: 60%;
  color: #fff;
}
footer .up a span {
  bottom: 20px;
  position: absolute;
  left: 50%;
  padding-top: 15px;
  margin-left: -12px;
  width: 22px;
  height: 22px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  animation: fadeinout 5s linear infinite;
}
footer .up a span:hover {
  animation-play-state: paused;
}
footer .sig {
  line-height: 20px;
  margin-bottom: 40px;
  color: #eee;
  opacity: 60%;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.6s all ease;
}
footer .sig:hover {
  opacity: 90%;
}
footer .source a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #eee;
}

@media (max-width: 600px) {
  #particles-js {
    padding: 20px;
  }
  #parallax {
    padding: 20px;
  }
  .layer {
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .aboutSect {
    margin-top: 60px;
  }
  .projectsSect {
    padding-top: 60px;
  }
  .projectsSect h3 {
    margin-bottom: 0px;
  }
  .project-content {
    grid-column: 1/-1;
    padding: 40px;
  }
  .project-content .project-details p {
    background-color: transparent;
    padding: 20px 0;
  }
  .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
  footer {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .project {
    align-items: flex-start;
  }
  .project-img {
    height: 100%;
  }
  .project-img img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }
}
@media (max-width: 715px) {
  .projectCard {
    max-height: 500px;
    min-width: 260px;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
